.app-wrapper {
    display: grid;
    grid-template-columns: 1fr; /*столбцы*/
    grid-template-rows: 50px 1fr; /*строки*/
    grid-template-areas:
            "h"
            "c";
}

.app-wrapper-content {
    grid-area: c;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: springgreen;
}

/*html, body, #root, .app-wrapper, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}*/
